$--c-ntrl-black: var(--c-ntrl-black);
$--c-ntrl-grey-dark: var(--c-ntrl-grey-dark);
$--c-ntrl-grey-med: var(--c-ntrl-grey-med);
$--c-ntrl-grey: var(--c-ntrl-grey);
$--c-ntrl-grey-pale: var(--c-ntrl-grey-pale);
$--c-ntrl-white: var(--c-ntrl-white);

$--c-brand-primary: var(--c-brand-primary);
$--c-brand-secondary: var(--c-brand-secondary);
$--c-brand-tertiary: var(--c-brand-tertiary);

$--c-ui-primary: var(--c-ui-primary);
$--c-ui-secondary: var(--c-ui-secondary);
$--c-ui-success: var(--c-ui-success);
$--c-ui-warning: var(--c-ui-warning);
$--c-ui-danger: var(--c-ui-danger);
$--c-ui-info: var(--c-ui-info);

$--c-ui-primary-shade-10: var(--c-ui-primary-shade-10);
$--c-ui-primary-shade-20: var(--c-ui-primary-shade-20);
$--c-ui-primary-shade-30: var(--c-ui-primary-shade-30);
$--c-ui-primary-shade-40: var(--c-ui-primary-shade-40);
$--c-ui-primary-shade-50: var(--c-ui-primary-shade-50);
$--c-ui-primary-shade-60: var(--c-ui-primary-shade-60);
$--c-ui-primary-shade-70: var(--c-ui-primary-shade-70);
$--c-ui-primary-shade-80: var(--c-ui-primary-shade-80);
$--c-ui-primary-shade-90: var(--c-ui-primary-shade-90);

$--c-fg-brand: var(--c-fg-brand);
$--c-fg-brand-focus: var(--c-fg-brand-focus);
$--c-fg-black: var(--c-fg-black);
$--c-fg-grey: var(--c-fg-grey);
$--c-fg-white: var(--c-fg-white);

$--c-bg-brand: var(--c-bg-brand);
$--c-bg-brand-focus: var(--c-bg-brand-focus);
$--c-bg-black: var(--c-bg-black);
$--c-bg-dark: var(--c-bg-dark);
$--c-bg-grey: var(--c-bg-grey);
$--c-bg-pale: var(--c-bg-pale);
$--c-bg-white: var(--c-bg-white);

$--c-border-dark: var(--c-border-dark);
$--c-border-grey: var(--c-border-grey);
$--c-border-pale: var(--c-border-pale);

$--c-chart-purple: var(--c-chart-purple);
$--c-chart-purple-pale: var(--c-chart-purple-pale);
$--c-chart-blue: var(--c-chart-blue);
$--c-chart-blue-pale: var(--c-chart-blue-pale);
$--c-chart-cornflower: var(--c-chart-cornflower);
$--c-chart-cornflower-pale: var(--c-chart-cornflower-pale);
$--c-chart-aqua: var(--c-chart-aqua);
$--c-chart-aqua-pale: var(--c-chart-aqua-pale);
$--c-chart-green: var(--c-chart-green);
$--c-chart-green-pale: var(--c-chart-green-pale);
$--c-chart-olive: var(--c-chart-olive);
$--c-chart-olive-pale: var(--c-chart-olive-pale);
$--c-chart-yellow: var(--c-chart-yellow);
$--c-chart-yellow-pale: var(--c-chart-yellow-pale);
$--c-chart-red: var(--c-chart-red);
$--c-chart-red-pale: var(--c-chart-red-pale);
$--c-chart-brown: var(--c-chart-brown);
$--c-chart-brown-pale: var(--c-chart-brown-pale);

$--shadow-low-1: var(--shadow-low-1);
$--shadow-low-2: var(--shadow-low-2);
$--shadow-mid-1: var(--shadow-mid-1);
$--shadow-mid-2: var(--shadow-mid-2);
$--shadow-high-1: var(--shadow-high-1);
$--shadow-high-2: var(--shadow-high-2);
