.vb-theme {
  --s-font-scale: 0.875;
  --s-border-radius-lg: 6px;
  --s-border-radius-md: 4px;
  --s-border-radius-sm: 2px;
}

.vb-theme * {
  box-sizing: border-box;
}

.vb-theme .vb-layout-fluid {
  width: calc(100vw - (16px * 2));
  margin: 0 16px;
}

.vb-theme .vb-layout-grid {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: calc(100vw - (16px * 2));
  margin: 0 16px;
}

.vb-theme .vb-layout-grid .vb-layout-grid-row {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

@media only screen and (min-width: 600px) {
  .vb-theme {
    --s-font-scale: 0.875;
  }

  .vb-theme .vb-layout-fluid {
    width: calc(100vw - (32px * 2));
    margin: 0 32px;
  }

  .vb-theme .vb-layout-grid {
    gap: 16px;
    width: calc(100vw - (32px * 2));
    margin: 0 32px;
  }

  .vb-theme .vb-layout-grid .vb-layout-grid-row {
    gap: 16px;
  }
}

@media only screen and (min-width: 905px) {
  .vb-theme {
    --s-font-scale: 1;
  }

  .vb-theme .vb-layout-fluid {
    width: calc(100vw - (32px * 2));
    margin: 0 32px;
  }

  .vb-theme .vb-layout-grid {
    gap: 16px;
    width: 840px;
    margin: 0 auto;
  }

  .vb-theme .vb-layout-grid .vb-layout-grid-row {
    gap: 16px;
  }
}

@media only screen and (min-width: 1240px) {
  .vb-theme {
    --s-font-scale: 1;
  }

  .vb-theme .vb-layout-fluid {
    width: calc(100vw - (32px * 2));
    margin: 0 32px;
  }

  .vb-theme .vb-layout-grid {
    gap: 16px;
    width: calc(100vw - (200px * 2));
    margin: 0 200px;
  }

  .vb-theme .vb-layout-grid .vb-layout-grid-row {
    gap: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .vb-theme {
    --s-font-scale: 1;
  }

  .vb-theme .vb-layout-fluid {
    width: calc(1440px - (32px * 2));
    margin: 0 auto;
  }

  .vb-theme .vb-layout-grid {
    gap: 16px;
    width: 1040px;
    margin: 0 auto;
  }

  .vb-theme .vb-layout-grid .vb-layout-grid-row {
    gap: 16px;
  }
}

.vb-theme .vb-layout-grid .vb-layout-grid-row .vb-layout-grid-col.vb-layout-grid-col-1 {
  width: calc(1 * (100% / 4));
}

.vb-theme .vb-layout-grid .vb-layout-grid-row .vb-layout-grid-col.vb-layout-grid-col-2 {
  width: calc(2 * (100% / 4));
}

.vb-theme .vb-layout-grid .vb-layout-grid-row .vb-layout-grid-col.vb-layout-grid-col-3 {
  width: calc(3 * (100% / 4));
}

.vb-theme .vb-layout-grid .vb-layout-grid-row .vb-layout-grid-col.vb-layout-grid-col-4 {
  width: calc(4 * (100% / 4));
}

@media only screen and (min-width: 600px) {
  .vb-theme .vb-layout-grid .vb-layout-grid-row .vb-layout-grid-col.vb-layout-grid-col-1 {
    width: calc(1 * (100% / 8));
  }

  .vb-theme .vb-layout-grid .vb-layout-grid-row .vb-layout-grid-col.vb-layout-grid-col-2 {
    width: calc(2 * (100% / 8));
  }

  .vb-theme .vb-layout-grid .vb-layout-grid-row .vb-layout-grid-col.vb-layout-grid-col-3 {
    width: calc(3 * (100% / 8));
  }

  .vb-theme .vb-layout-grid .vb-layout-grid-row .vb-layout-grid-col.vb-layout-grid-col-4 {
    width: calc(4 * (100% / 8));
  }

  .vb-theme .vb-layout-grid .vb-layout-grid-row .vb-layout-grid-col.vb-layout-grid-col-5 {
    width: calc(5 * (100% / 8));
  }

  .vb-theme .vb-layout-grid .vb-layout-grid-row .vb-layout-grid-col.vb-layout-grid-col-6 {
    width: calc(6 * (100% / 8));
  }

  .vb-theme .vb-layout-grid .vb-layout-grid-row .vb-layout-grid-col.vb-layout-grid-col-7 {
    width: calc(7 * (100% / 8));
  }

  .vb-theme .vb-layout-grid .vb-layout-grid-row .vb-layout-grid-col.vb-layout-grid-col-8 {
    width: calc(8 * (100% / 8));
  }
}

@media only screen and (min-width: 905px) {
  .vb-theme .vb-layout-grid .vb-layout-grid-row .vb-layout-grid-col.vb-layout-grid-col-1 {
    width: calc(1 * (100% / 12));
  }

  .vb-theme .vb-layout-grid .vb-layout-grid-row .vb-layout-grid-col.vb-layout-grid-col-2 {
    width: calc(2 * (100% / 12));
  }

  .vb-theme .vb-layout-grid .vb-layout-grid-row .vb-layout-grid-col.vb-layout-grid-col-3 {
    width: calc(3 * (100% / 12));
  }

  .vb-theme .vb-layout-grid .vb-layout-grid-row .vb-layout-grid-col.vb-layout-grid-col-4 {
    width: calc(4 * (100% / 12));
  }

  .vb-theme .vb-layout-grid .vb-layout-grid-row .vb-layout-grid-col.vb-layout-grid-col-5 {
    width: calc(5 * (100% / 12));
  }

  .vb-theme .vb-layout-grid .vb-layout-grid-row .vb-layout-grid-col.vb-layout-grid-col-6 {
    width: calc(6 * (100% / 12));
  }

  .vb-theme .vb-layout-grid .vb-layout-grid-row .vb-layout-grid-col.vb-layout-grid-col-7 {
    width: calc(7 * (100% / 12));
  }

  .vb-theme .vb-layout-grid .vb-layout-grid-row .vb-layout-grid-col.vb-layout-grid-col-8 {
    width: calc(8 * (100% / 12));
  }

  .vb-theme .vb-layout-grid .vb-layout-grid-row .vb-layout-grid-col.vb-layout-grid-col-9 {
    width: calc(9 * (100% / 12));
  }

  .vb-theme .vb-layout-grid .vb-layout-grid-row .vb-layout-grid-col.vb-layout-grid-col-10 {
    width: calc(10 * (100% / 12));
  }

  .vb-theme .vb-layout-grid .vb-layout-grid-row .vb-layout-grid-col.vb-layout-grid-col-11 {
    width: calc(11 * (100% / 12));
  }

  .vb-theme .vb-layout-grid .vb-layout-grid-row .vb-layout-grid-col.vb-layout-grid-col-12 {
    width: calc(12 * (100% / 12));
  }
}
