$--s-font-h1: var(--s-font-h1);
$--s-font-h1-lh: var(--s-font-h1-lh);
$--s-font-h2: var(--s-font-h2);
$--s-font-h2-lh: var(--s-font-h2-lh);
$--s-font-h3: var(--s-font-h3);
$--s-font-h3-lh: var(--s-font-h3-lh);
$--s-font-h4: var(--s-font-h4);
$--s-font-h4-lh: var(--s-font-h4-lh);
$--s-font-h5: var(--s-font-h5);
$--s-font-h5-lh: var(--s-font-h5-lh);
$--s-font-h6: var(--s-font-h6);
$--s-font-h6-lh: var(--s-font-h6-lh);
$--s-font-body-lg: var(--s-font-body-lg);
$--s-font-body-lg-lh: var(--s-font-body-lg-lh);
$--s-font-body-md: var(--s-font-body-md);
$--s-font-body-md-lh: var(--s-font-body-md-lh);
$--s-font-body-sm: var(--s-font-body-sm);
$--s-font-body-sm-lh: var(--s-font-body-sm-lh);
$--s-font-body-xs: var(--s-font-body-xs);
$--s-font-body-xs-lh: var(--s-font-body-xs-lh);
$--s-font-label-md: var(--s-font-label-md);
$--s-font-label-md-lh: var(--s-font-label-md-lh);
$--s-font-label-sm: var(--s-font-label-sm);
$--s-font-label-sm-lh: var(--s-font-label-sm-lh);

$--s-border-radius-lg: var(--s-border-radius-lg);
$--s-border-radius-md: var(--s-border-radius-md);
$--s-border-radius-sm: var(--s-border-radius-sm);
